<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">

    <title>Mind Up!</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/ionicons/css/ionicons.css" %}">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" %}">
    <link rel="stylesheet" href="{% static "vendor/select2/dist/css/select2.css" %}">
    <link rel="stylesheet" href="{% static "vendor/nouislider/distribute/nouislider.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/loaders.css/loaders.css" %}">
    <link rel="stylesheet" href="{% static "vendor/ng-material-floating-button/mfb/dist/mfb.css" %}">
    <link rel="stylesheet" href="{% static "vendor/material-colors/dist/colors.css" %}">
    <link rel="stylesheet" href="{% static "app/app.css" %}">
  </head>

  <body class="theme-7 sidebar-offcanvas">
    <div class="layout-container">
        {% block nav %} {% endblock %}
        {% block sidebar %} {% endblock %}
        <main class="main-container">
            {% block content %} {% endblock %}
            <footer style="margin-top: 20px;"><span><b>© 2016 Все права защищены.</b></span></footer>
        </main>
    </div>


    <div tabindex="-1" role="dialog" class="modal modal-top fade modal-search">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-left">
              <button type="button" data-dismiss="modal" class="btn btn-flat"><em class="ion-arrow-left-c icon-24"></em></button>
            </div>
            <form action="#" class="oh">
              <div class="mda-form-control pt0">
                <input type="text" placeholder="Search.." data-localize="header.SEARCH" class="form-control header-input-search">
                <div class="mda-form-control-line"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static "vendor/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/jquery.browser/dist/jquery.browser.js" %}"></script>
    <script src="{% static "vendor/material-colors/dist/colors.js" %}"></script>

    <script src="{% static "vendor/screenfull/dist/screenfull.js" %}"></script>
    <script src="{% static "vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>

    <script src="{% static "vendor/jquery-validation/dist/jquery.validate.js" %}"></script>
    <script src="{% static "vendor/jquery-validation/dist/additional-methods.js" %}"></script>
    <script src="{% static "vendor/jquery.steps/build/jquery.steps.js" %}"></script>
    <script src="{% static "vendor/select2/dist/js/select2.js" %}"></script>
    <script src="{% static "vendor/nouislider/distribute/nouislider.js" %}"></script>
    <script src="{% static "vendor/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js" %}"></script>
    <script src="{% static "vendor/nestable/jquery.nestable.js" %}"></script>
    <script src="{% static "vendor/sweetalert/dist/sweetalert-dev.js" %}"></script>
    <script src="{% static "vendor/imagesloaded/imagesloaded.pkgd.js" %}"></script>
    <script src="{% static "vendor/loaders.css/loaders.css.js" %}"></script>
    <script src="{% static "app/app_init.js" %}"></script>

   {% block additional_scrips %} {% endblock %}

  </body>
</html>
