      <header class="header-container">
        <nav>
          <ul class="hidden-xs">
            <li><a id="offcanvas-toggler" href="#" class="menu-link menu-link-slide"><span><em></em></span></a></li>
          </ul>
          <h2 class="header-title">
             <a class="brand" href="/">Mind<span class="text-success"> Up!</span></a>
          </h2>
          <ul class="pull-right">
            <li><a id="header-search" href="#" class="ripple"><em class="ion-ios-search-strong"></em></a></li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle has-badge ripple"><em class="ion-person"></em></a>
              <ul class="dropdown-menu dropdown-menu-right md-dropdown-menu">
                <li><a href="profile.html"><em class="ion-home icon-fw"></em>Profile</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="user.login.html"><em class="ion-log-out icon-fw"></em>Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>