      <aside class="sidebar-container">
        <div class="sidebar-content">
          <nav class="sidebar-nav">
            <ul>
              <li><a href="dashboard.html" class="ripple"><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/aperture.svg" alt="MenuItem" class="hidden"></span><span>Карта</span></a></li>
              <li><a href="cards.html" class="ripple"><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/radio-waves.svg" alt="MenuItem" class="hidden"></span><span>База знаний</span></a></li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"><span class="badge bg-success">2</span></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/connection-bars.svg" alt="MenuItem" class="hidden"></span><span>Задачи</span></a>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/clipboard.svg" alt="MenuItem" class="hidden"></span><span>Новости</span></a>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/navicon.svg" alt="MenuItem" class="hidden"></span><span>Календарь</span></a>
              </li>
              <li><a href="#" class="ripple"><span class="pull-right nav-caret"></span><span class="pull-right nav-label"></span><span class="nav-icon"><img src="" data-svg-replace="img/icons/grid.svg" alt="MenuItem" class="hidden"></span><span>Настройки</span></a>
              </li>
              <li><a href="../../angularjs/" class="ripple"><span class="nav-icon"><em class="ion-log-out icon-fw"></em></span><span>Выход</span></a></li>
            </ul>
          </nav>
        </div>
      </aside>
