{% extends "app/base.html" %}

{% block content %}
      <main class="main-container">
        <section>
          <div class="content-heading bg-white">
            <div class="row">
              <div class="col-sm-9">
                <h4 class="m0 text-thin">Новые знания?</h4><small>Вам сюда</small>
              </div>
              <div class="col-sm-3 text-right hidden-xs">
                <button type="button" class="mt-sm btn btn-labeled btn-default ripple">Apps<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-6 col-lg-3">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">350</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>New visitors</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline2" data-line-color="#4caf50" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-3">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">10,200</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-down-b"></em>Page views</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline1" data-line-color="#03A9F4" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-3 visible-lg">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">880</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Last income</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline3" data-line-color="#ab47bc" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-lg-3 visible-lg">
                <div class="card">
                  <div class="card-body pv">
                    <div class="clearfix">
                      <div class="pull-left">
                        <h4 class="m0 text-thin">780</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>Reservations</small>
                      </div>
                      <div class="pull-right mt-lg">
                        <div id="sparkline4" data-line-color="#e91e63" class="sparkline"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <footer><span><b>© 2016 Все права защищены.</b></span></footer>
      </main>
{% endblock %}