﻿{% extends "index/base.html" %}

{% block content %}
        <div class="container-full">
          <div class="container container-xs" style="margin-top: 150px;">
            <form id="user-login" action="" name="loginForm" novalidate="" class="card b0 form-validate">
              <div class="card-offset pb0">
                <div class="card-offset-item text-right"><a href="/mock/signup" class="btn-raised btn btn-info btn-circle btn-lg"><em class="ion-person-add"></em></a></div>
                <div class="card-offset-item text-right hidden">
                  <div class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></div>
                </div>
              </div>
              <div class="card-heading">
                <div class="card-title text-center">Вход в систему</div>
              </div>
              <div class="card-body">
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input placeholder="E-mail адрес" type="email" name="accountName" required="" class="form-control">
                    <div class="mda-form-control-line"></div>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
                </div>
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input placeholder="Пароль" type="password" name="accountPassword" required="" class="form-control">
                    <div class="mda-form-control-line"></div>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-flat">Войти</button>
            </form>
            <div class="text-center text-sm"><a href="/mock/forgot-password/" class="text-inherit">Забыли пароль?</a></div>
          </div>
        </div>

{% endblock %}

{%  block additional_scrips %}
    {% load static %}
    <script src="{% static "app/index/login.js" %}"></script>
{% endblock %}