﻿{% extends "index/base.html" %}

{% block content %}
        <div class="container-full">
          <div class="container container-xs" style="margin-top: 150px;">
            <form id="user-signup" action="" name="loginForm" novalidate="" class="card b0 form-validate">
              <div class="card-heading">
                <div class="card-title text-center">Регистрация</div>
              </div>
              <div class="card-body">
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input placeholder="E-mail адрес" type="email" name="accountName" required="" class="form-control">
                    <div class="mda-form-control-line"></div>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-email-outline icon-lg"></em></span>
                </div>
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input placeholder="Пароль" type="password" name="accountPassword" required="" class="form-control">
                    <div class="mda-form-control-line"></div>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
                </div>
                <div class="mda-form-group float-label mda-input-group">
                  <div class="mda-form-control">
                    <input placeholder="Повторите пароль" type="password" name="accountPasswordCheck" required="" class="form-control">
                    <div class="mda-form-control-line"></div>
                  </div><span class="mda-input-group-addon"><em class="ion-ios-locked-outline icon-lg"></em></span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-flat">Создать пользователя</button>
            </form>
          </div>
        </div>

{% endblock %}

{%  block additional_scrips %}
    {% load static %}
    <script src="{% static "app/index/signup.js" %}"></script>
{% endblock %}