<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin Template">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">

    <title>Mind Up!</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/ionicons/css/ionicons.css" %}">
    <link rel="stylesheet" href="{% static "app/app.css" %}">
  </head>

  <body class="theme-7 sidebar-offcanvas">
    <div class="layout-container">
      <header class="header-container">
        <nav>
            <h2 class="header-title" style="margin-left: 50px;">
                <a class="brand" href="/">Mind<span class="text-success"> Up!</span></a>
            </h2>
        </nav>
      </header>
        {% block content %} {% endblock %}
    </div>

    <div tabindex="-1" role="dialog" class="modal modal-top fade modal-search">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="pull-left">
              <button type="button" data-dismiss="modal" class="btn btn-flat"><em class="ion-arrow-left-c icon-24"></em></button>
            </div>
            <form action="#" class="oh">
              <div class="mda-form-control pt0">
                <input type="text" placeholder="Search.." data-localize="header.SEARCH" class="form-control header-input-search">
                <div class="mda-form-control-line"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static "vendor/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "vendor/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "vendor/jquery.browser/dist/jquery.browser.js" %}"></script>

    <script src="{% static "vendor/jquery-validation/dist/jquery.validate.js" %}"></script>

   {% block additional_scrips %} {% endblock %}

  </body>
</html>
